In [73]:
!pip3 install googletrans==3.1.0a0

Requirement already satisfied: googletrans==3.1.0a0 in c:\programdata\anaconda3\lib\site-packages (3.1.0a0)
Requirement already satisfied: httpx==0.13.3 in c:\programdata\anaconda3\lib\site-packages (from googletrans==3.1.0a0) (0.13.3)
Requirement already satisfied: rfc3986<2,>=1.3 in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.5.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.2.0)
Requirement already satisfied: idna==2.* in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Requirement already satisfied: chardet==3.* in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Requirement already satisfied: httpcore==0.9.* in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (0.9.1)
Requirement already satisfied: hstspreload in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2021.12.1)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2020.6.20)
Requirement already satisfied: h2==3.* in c:\programdata\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.2.0)
Requirement already satisfied: h11<0.10,>=0.8 in c:\programdata\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (0.9.0)
Requirement already satisfied: hpack<4,>=3.0 in c:\programdata\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.0.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in c:\programdata\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (5.2.0)

In [74]:
#####https://www.thepythoncode.com/article/translate-text-in-python
from googletrans import Translator, constants
from pprint import pprint
# init the Google API translator
translator = Translator()
# Function for translating Catalan to Englisg
def translate_ca_en(word): return translator.translate(word,  src="ca", dest="en").text

In [75]:
import pandas as pd
# Read and join CSVs
def CSVs_to_DataFrame(list_of_files, nameOfspecialCol):
    list_of_DFs = []
    special_col_names = ["year", "districtCode", "districtName", "neighborhoodCode", "neighborhoodName", nameOfspecialCol, "count"]
    for i in range(6):
        list_of_DFs.append(pd.read_csv(list_of_files[i],  header=0, names = special_col_names))
    return pd.concat(list_of_DFs, ignore_index=True)

In [76]:
import time
t0 = time.time()
# Registration in the Register of inhabitants of the city of Barcelona due to immigration according to nationality
immigrationByNationality_list = ["https://opendata-ajuntament.barcelona.cat/data/dataset/653e65cc-9bda-4d89-9701-033998379066/resource/96c35c4e-bdf5-46c6-8452-24c9d1d2680c/download/2015_immigrants_nacionalitats.csv",
                               "https://opendata-ajuntament.barcelona.cat/data/dataset/653e65cc-9bda-4d89-9701-033998379066/resource/09e80c64-d031-495b-8739-4775641e8761/download/2016_immigrants_nacionalitats.csv",
                               "https://opendata-ajuntament.barcelona.cat/data/dataset/653e65cc-9bda-4d89-9701-033998379066/resource/88db9f63-be6a-45c2-aec9-bb02a2b6d7af/download/2017_immigrants_nacionalitats.csv",
                               "https://opendata-ajuntament.barcelona.cat/data/dataset/653e65cc-9bda-4d89-9701-033998379066/resource/435b4917-f5fa-41df-bdf5-7cb163dbc3f0/download/2018_immigrants_nacionalitats.csv",
                               "https://opendata-ajuntament.barcelona.cat/data/dataset/653e65cc-9bda-4d89-9701-033998379066/resource/816f6f82-0598-4ff4-a4b8-1be4c898fd24/download/2019_immigrants_nacionalitats.csv",
                               "https://opendata-ajuntament.barcelona.cat/data/dataset/653e65cc-9bda-4d89-9701-033998379066/resource/b3225d8b-6839-4084-ac74-b2fb261ff03b/download/2020_immigrants_nacionalitats.csv"]

# Data Frame
immigrationByNationalityDF = CSVs_to_DataFrame(immigrationByNationality_list, "nationality")

# Registration in the Register of inhabitants of the city of Barcelona due to immigration according to place of origin
immigrationByPlaceOfOrigin_list = ["https://opendata-ajuntament.barcelona.cat/data/dataset/2452c204-d75c-451d-936c-360958dfa3be/resource/d1c1ddf1-0330-47b4-9c18-3f7377fe593a/download/2015_immigrants_lloc-de-procedencia.csv",
                                   "https://opendata-ajuntament.barcelona.cat/data/dataset/2452c204-d75c-451d-936c-360958dfa3be/resource/14bf0181-2768-4fac-b22e-63b81b49ab02/download/2016_immigrants_lloc-de-procedencia.csv",
                                   "https://opendata-ajuntament.barcelona.cat/data/dataset/2452c204-d75c-451d-936c-360958dfa3be/resource/3de1116a-08a8-4987-89f1-f1fe53948f68/download/2017_immigrants_lloc-de-procedencia.csv",
                                   "https://opendata-ajuntament.barcelona.cat/data/dataset/2452c204-d75c-451d-936c-360958dfa3be/resource/43fef4ad-89e5-426d-98a8-02311dc56b89/download/2018_immigrants_lloc-de-procedencia.csv",
                                   "https://opendata-ajuntament.barcelona.cat/data/dataset/2452c204-d75c-451d-936c-360958dfa3be/resource/53ae5988-611d-4925-ae23-a263b2942dc1/download/2019_immigrants_lloc_de_procedencia.csv",
                                   "https://opendata-ajuntament.barcelona.cat/data/dataset/2452c204-d75c-451d-936c-360958dfa3be/resource/e5ad0e18-b3b6-43f0-8e8c-7c78cd796200/download/2020_immigrants_lloc_de_procedencia.csv"]

# Data Frame
immigrationByPlaceOfOriginDF = CSVs_to_DataFrame(immigrationByPlaceOfOrigin_list, "placeOfOrigin")

# Registration in the Register of inhabitants of the city of Barcelona for immigration according to sex
immigrationBySex_list = ["https://opendata-ajuntament.barcelona.cat/data/dataset/c4df6103-c9bf-44c0-b51f-b4f65680a599/resource/186f437a-87b7-49c5-b82d-35264fe4f3fa/download/2015_immigrants_sexe.csv",
                         "https://opendata-ajuntament.barcelona.cat/data/dataset/c4df6103-c9bf-44c0-b51f-b4f65680a599/resource/bfcb095f-ea25-4643-a8fe-384b8406b32f/download/2016_immigrants_sexe.csv",
                         "https://opendata-ajuntament.barcelona.cat/data/dataset/c4df6103-c9bf-44c0-b51f-b4f65680a599/resource/c034d03e-92af-421a-9ea6-ad1e18415ead/download/2017_immigrants_sexe.csv",
                         "https://opendata-ajuntament.barcelona.cat/data/dataset/c4df6103-c9bf-44c0-b51f-b4f65680a599/resource/69b06995-8ca8-43d7-9afd-f27c88d175ed/download/2018_immigrants_sexe.csv",
                         "https://opendata-ajuntament.barcelona.cat/data/dataset/c4df6103-c9bf-44c0-b51f-b4f65680a599/resource/20c768e8-81c8-4ad6-8e20-d19d603d4078/download/2019_immigrants_sexe.csv",
                         "https://opendata-ajuntament.barcelona.cat/data/dataset/c4df6103-c9bf-44c0-b51f-b4f65680a599/resource/6666ce99-f18a-4e89-a30a-e97bb990e3eb/download/2020_immigrants_sexe.csv"]

immigrationBySexDF = CSVs_to_DataFrame(immigrationBySex_list, "sex")

# Registration in the Register of inhabitants of the city of Barcelona by immigration according to five-year age
immigrationBy5YearAge_list = ["https://opendata-ajuntament.barcelona.cat/data/dataset/a667cb94-ba45-4515-a782-914d43ffae18/resource/40a10513-3717-4ccd-a0fc-2035b39db35e/download/2015_immigrants_edats-quinquennals.csv",
                                   "https://opendata-ajuntament.barcelona.cat/data/dataset/a667cb94-ba45-4515-a782-914d43ffae18/resource/9448dcdb-2bc5-4c62-8554-b8e27249fcc4/download/2016_immigrants_edats-quinquennals.csv",
                                   "https://opendata-ajuntament.barcelona.cat/data/dataset/a667cb94-ba45-4515-a782-914d43ffae18/resource/98744fde-4449-4547-b4ba-4def6a9fd0b2/download/2017_immigrants_edats-quinquennals.csv",
                                   "https://opendata-ajuntament.barcelona.cat/data/dataset/a667cb94-ba45-4515-a782-914d43ffae18/resource/293e38b7-0c45-4f21-901c-de1340b21877/download/2018_immigrants_edats-quinquennals.csv",
                                   "https://opendata-ajuntament.barcelona.cat/data/dataset/a667cb94-ba45-4515-a782-914d43ffae18/resource/acd78a51-8094-4582-acbd-0d71bdc874ec/download/2019_immigrants_edats-quinquennals.csv",
                                   "https://opendata-ajuntament.barcelona.cat/data/dataset/a667cb94-ba45-4515-a782-914d43ffae18/resource/c0d243c8-1a0a-41cc-806a-45cf51d9461d/download/2020_immigrants_edats_quinquennals.csv"]

# Data Frame
immigrationBy5YearAgeDF = CSVs_to_DataFrame(immigrationBy5YearAge_list, "5YearAge")

# Deregistrations in the Register of inhabitants of the city of Barcelona due to emigration according to nationality
emigrationByNationality_list = ["https://opendata-ajuntament.barcelona.cat/data/dataset/9dc3f721-7a31-413d-b8b3-05a459ef10cf/resource/054d9535-f943-482a-849a-d4a4e76f4260/download/2015_emigrants_nacionalitats.csv",
                                "https://opendata-ajuntament.barcelona.cat/data/dataset/9dc3f721-7a31-413d-b8b3-05a459ef10cf/resource/132cd685-6d87-4087-88e7-3e6ad9c49b16/download/2016_emigrants_nacionalitats.csv",
                                "https://opendata-ajuntament.barcelona.cat/data/dataset/9dc3f721-7a31-413d-b8b3-05a459ef10cf/resource/95f7de58-76eb-471d-9df6-54a4af8c038d/download/2017_emigrants_nacionalitats.csv",
                                "https://opendata-ajuntament.barcelona.cat/data/dataset/9dc3f721-7a31-413d-b8b3-05a459ef10cf/resource/3f0d8591-b931-46d6-98d1-39b4ea9b7534/download/2018_emigrants_nacionalitats.csv",
                                "https://opendata-ajuntament.barcelona.cat/data/dataset/9dc3f721-7a31-413d-b8b3-05a459ef10cf/resource/7575b73b-a594-4be0-96aa-c848849537fb/download/2019_emigrants_nacionalitats.csv",
                                "https://opendata-ajuntament.barcelona.cat/data/dataset/9dc3f721-7a31-413d-b8b3-05a459ef10cf/resource/22bb48e7-9218-449e-9717-767e9df3221e/download/2020_emigrants_nacionalitats.csv"]

# Data Frame
emigrationByNationalityDF = CSVs_to_DataFrame(emigrationByNationality_list, "nationality")

# Deregistrations in the Register of inhabitants of the city of Barcelona due to emigration according to the place of destination
emigrationByPlaceOfDestination_list = ["https://opendata-ajuntament.barcelona.cat/data/dataset/98123fd3-f027-480a-b996-1502bb90983e/resource/62386a42-912b-480f-bc7d-3c807b88300d/download/2015_emigrants_lloc-de-destinacio.csv",
                                  "https://opendata-ajuntament.barcelona.cat/data/dataset/98123fd3-f027-480a-b996-1502bb90983e/resource/549fd5b9-066a-43c1-a729-c6a29bab9f33/download/2016_emigrants_lloc-de-destinacio.csv",
                                  "https://opendata-ajuntament.barcelona.cat/data/dataset/98123fd3-f027-480a-b996-1502bb90983e/resource/87c850ab-e7e7-4baa-8eb5-72ad11b301f2/download/2017_emigrants_lloc-de-destinacio.csv",
                                  "https://opendata-ajuntament.barcelona.cat/data/dataset/98123fd3-f027-480a-b996-1502bb90983e/resource/45b0e70c-4a70-4632-9593-3ce272eb2587/download/2018_emigrants_lloc-de-destinacio.csv",
                                  "https://opendata-ajuntament.barcelona.cat/data/dataset/98123fd3-f027-480a-b996-1502bb90983e/resource/f4950b93-2f95-49f1-bcc7-ead994840cce/download/2019_emigrants_lloc-de-destinacio.csv",
                                  "https://opendata-ajuntament.barcelona.cat/data/dataset/98123fd3-f027-480a-b996-1502bb90983e/resource/91d60e79-6f74-4bf5-9ea8-85ae2d68e133/download/2020_emigrants_lloc_de_destinacio.csv"]

# Data Frame
emigrationByPlaceOfDestinationDF = CSVs_to_DataFrame(emigrationByPlaceOfDestination_list, "placeOfDestination")

# Deregistrations in the Register of inhabitants of the city of Barcelona by emigration by sex
emigrationBySex_list = ["https://opendata-ajuntament.barcelona.cat/data/dataset/bf3419b7-16be-424a-8c0e-f3789a42e25a/resource/eb351d57-80e6-426a-86a2-afd0edf7efac/download/2015_emigrants_sexe.csv",
                        "https://opendata-ajuntament.barcelona.cat/data/dataset/bf3419b7-16be-424a-8c0e-f3789a42e25a/resource/beb29f2b-db37-4b12-b0a0-cbfeb448703f/download/2016_emigrants_sexe.csv",
                        "https://opendata-ajuntament.barcelona.cat/data/dataset/bf3419b7-16be-424a-8c0e-f3789a42e25a/resource/1ea15f38-e6ab-4941-a840-9f8799b73303/download/2017_emigrants_sexe.csv",
                        "https://opendata-ajuntament.barcelona.cat/data/dataset/bf3419b7-16be-424a-8c0e-f3789a42e25a/resource/974fc01f-e017-4821-b25c-492444c9a343/download/2018_emigrants_sexe.csv",
                        "https://opendata-ajuntament.barcelona.cat/data/dataset/bf3419b7-16be-424a-8c0e-f3789a42e25a/resource/3c848e9d-01a9-448d-bc83-0aedf16684a8/download/2019_emigrants_sexe.csv",
                        "https://opendata-ajuntament.barcelona.cat/data/dataset/bf3419b7-16be-424a-8c0e-f3789a42e25a/resource/9e65bd11-7905-4fa3-b074-402e55d56dd8/download/2020_emigrants_sexe.csv"]

# Data Frame
emigrationBySexDF = CSVs_to_DataFrame(emigrationBySex_list, "sex")

emigrationBy5YearAge_list = ["https://opendata-ajuntament.barcelona.cat/data/dataset/aa7462db-cc27-4b2e-affc-21d56dad70ad/resource/3219c650-14e6-4977-af41-209567cd53f8/download/2015_emigrants_edats-quinquennals.csv",
                             "https://opendata-ajuntament.barcelona.cat/data/dataset/aa7462db-cc27-4b2e-affc-21d56dad70ad/resource/9b0e8635-dc82-4c2e-9d5d-1f1364bca840/download/2016_emigrants_edats-quinquennals.csv",
                             "https://opendata-ajuntament.barcelona.cat/data/dataset/aa7462db-cc27-4b2e-affc-21d56dad70ad/resource/ad9b6b7b-e9e8-4a0a-a189-f0f3868ddbc1/download/2017_emigrants_edats-quinquennals.csv",
                             "https://opendata-ajuntament.barcelona.cat/data/dataset/aa7462db-cc27-4b2e-affc-21d56dad70ad/resource/e519e200-dd79-45c7-ad7f-eca35cc721bf/download/2018_emigrants_edats-quinquennals.csv",
                             "https://opendata-ajuntament.barcelona.cat/data/dataset/aa7462db-cc27-4b2e-affc-21d56dad70ad/resource/7daa4925-16b6-4f74-91f5-148eb7ad6df8/download/2019_emigrants_edats-quinquennals.csv",
                             "https://opendata-ajuntament.barcelona.cat/data/dataset/aa7462db-cc27-4b2e-affc-21d56dad70ad/resource/f0de58f1-1f60-4b6e-8721-c1fcd97deb37/download/2020_emigrants_edats_quinquennals.csv"]

# Data Frame
emigrationBy5YearAgeDF = CSVs_to_DataFrame(emigrationBy5YearAge_list, "5YearAge")

print("Time passed to translate and concate the csv files from URL lists: ", time.time()-t0)

Time passed to translate and concate the csv files from URL lists:  47.50549030303955

In [77]:
t0 = time.time()
immigrationByNationalityDF.info()
display(immigrationByNationalityDF.describe())
list_of_nationality = immigrationByNationalityDF.nationality.unique()
list_of_nationality_translated = { x : translate_ca_en(x) for x in list_of_nationality}

# fixing errors in translation
list_of_nationality_translated['Marroc, el'] = "Morocco"
list_of_nationality_translated['Estats Units, els'] = "United States"
list_of_nationality_translated["Iraq, l'"] = "Iraq"
list_of_nationality_translated['Macedònia'] = "North Macedonia"
list_of_nationality_translated['Iemen, el'] = "Yemen"
list_of_nationality_translated['Sudan, el'] = "Sudan"
list_of_nationality_translated['No consta'] = "NAN"
list_of_nationality_translated['Territoris Palestins [o Palestina]'] = 'Palestinian Territories (or Palestine)'  
list_of_nationality_translated['Emirats Àrabs Units, els'] = "United Arab Emirates" 
list_of_nationality_translated['Bahames, les'] = "Bahamas"
list_of_nationality_translated['Comores, les'] =  "Comoros"
list_of_nationality_translated['Sudan del Sud, el'] = "South Sudan"
list_of_nationality_translated['Swazilàndia'] =  "Eswatini"
list_of_nationality_translated['Palestina'] = 'Palestinian Territories (or Palestine)'

immigrationByNationalityDF['nationality'] = immigrationByNationalityDF['nationality'].map(list_of_nationality_translated)
print(immigrationByNationalityDF.nationality.unique())
print("Time passed: ", time.time()-t0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70775 entries, 0 to 70774
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              70775 non-null  int64
 1   districtCode      70775 non-null  int64
 2   districtName      70775 non-null  object
 3   neighborhoodCode  70775 non-null  int64
 4   neighborhoodName  70775 non-null  object
 5   nationality       70775 non-null  object
 6   count             70775 non-null  int64
dtypes: int64(4), object(3)
memory usage: 3.8+ MB

               year  districtCode  neighborhoodCode         count
count  70775.000000  70775.000000      70775.000000  70775.000000
mean    2017.498750      6.870392         37.416983      7.976136
std        1.688319      8.074369         21.603230     48.518992
min     2015.000000      1.000000          1.000000      0.000000
25%     2016.000000      4.000000         19.000000      0.000000
50%     2018.000000      7.000000         37.000000      0.000000
75%     2019.000000      8.000000         56.000000      2.000000
max     2020.000000     99.000000         99.000000   1603.000000

['Spain' 'Italy' 'Pakistan' 'China' 'France' 'Colombia' 'Morocco'
 'Honduras' 'Venezuela' 'Peru' 'Brazil' 'India' 'Ecuador' 'Russia'
 'Argentina' 'Bolivia' 'United States' 'Mexico' 'Dominican Republic'
 'United Kingdom' 'Romania' 'Ukraine' 'Germany' 'Philippines' 'Chile'
 'Portugal' 'Paraguay' 'Bangladesh' 'Netherlands' 'Georgia' 'Poland'
 'Cuba' 'Japan' 'Sweden' 'Algeria' 'Bulgaria' 'El Salvador' 'Belgium'
 'Turkey' 'Armenia' 'Uruguay' 'South Korea' 'Hungary' 'Senegal' 'Greece'
 'Canada' 'Nepal' 'Egypt' 'Nicaragua' 'Ireland' 'Swiss' 'Syria'
 'Guatemala' 'Nigeria' 'Costa Rica' 'Kazakhstan' 'Iran' 'Austria' 'Guinea'
 'Finland' 'Panama' 'Denmark' 'Lebanon' 'Czech Republic' 'Norway'
 'Lithuania' 'Australia' 'Ghana' 'Israel' 'Moldova' 'Serbia' 'Belarus'
 'Latvia' 'Andorra' 'Albania' 'Slovakia' 'Croatia' 'Libya' 'Gambia'
 'Equatorial Guinea' 'Azerbaijan' 'Slovenia' 'Cameroon' 'Saudi Arabia'
 'Jordan' 'Estonia' 'Palestinian Territories (or Palestine)' 'Mali'
 'Vietnam' 'Iceland' 'Tunisia' 'South Africa' 'Mauritania' 'Indonesia'
 'Iraq' 'Thailand' 'Cyprus' 'Afghanistan' 'Singapore'
 'Bosnia and Herzegovina' 'Kenya' 'North Macedonia' 'New Zealand'
 'Guinea-Bissau' 'Malaysia' 'Mongolia' 'Uzbekistan' 'Angola' 'Ivory Coast'
 'Kyrgyzstan' 'Montenegro' 'Haiti' 'Malta' 'Mozambique' 'Congo'
 'Sri Lanka' 'Turkmenistan' 'Burkina Faso' 'Kuwait' 'Luxembourg'
 'Tanzania' 'Zimbabwe' 'Benin' 'Dominica' 'Ethiopia' 'Yemen' 'Jamaica'
 'Madagascar' 'Qatar' 'Somalia' 'Sudan' 'Togo' 'Uganda' 'Cape Verde'
 'Gabon' 'Mauritius' 'Central African Republic' 'Rwanda' 'Bahrain'
 'Barbados' 'Burundi' 'Cambodia' 'Djibouti' 'Grenada' 'Maldives' 'Namibia'
 'Oman' 'Saint Kitts and Nevis' 'Seychelles' 'Sierra Leone' 'Swaziland'
 'Taiwan, China' 'Trinidad and Tobago' 'NAN' 'United Arab Emirates'
 'Myanmar' 'Zambia' 'Bahamas' 'North Korea' 'Guyana' 'Lesotho' 'Liberia'
 'Niger' 'Puerto Rico' 'San Marino' 'São Tomé and Príncipe' 'Suriname'
 'Tajikistan' 'Timor-Leste' 'Malawi' 'Eritrea' 'Chad' 'Botswana'
 'Antigua and Barbuda' 'Lao' 'Solomon Islands' 'Liechtenstein'
 'Saint Vincent and the Grenadines' 'Belize' 'Bhutan' 'Comoros'
 'South Sudan' 'Democratic Republic of the Congo' 'Eswatini' 'Tonga']
Time passed:  12.855014562606812

In [78]:
map_correct = {'Andalusia': 'Andalusia', 'Aragó': 'Aragó', "Principat  d'Astúries": "Principat d'Astúries", 
               'Illes Balears': 'Illes Balears', 'Canàries': 'Canàries', 'Cantàbria': 'Cantàbria', 
               'Castella i Lleó': 'Castella i Lleó', 'Castella-la Manxa': 'Castella-la Manxa', 'Catalunya': 'Catalunya',
               'Comunitat Valenciana': 'Comunitat Valenciana', 'Extremadura': 'Extremadura', 'Galícia': 'Galícia', 
               'Comunitat de Madrid': 'Comunitat de Madrid', 'Regió de Múrcia': 'Regió de Múrcia', 
               'Comunitat Foral de Navarra': 'Comunitat Foral de Navarra', 'País Basc': 'País Basc',
               'Rioja, La': 'Rioja, La', 'Ceuta': 'Ceuta', 'Melilla': 'Melilla', 'Estranger': 'Estranger',
               "Principat d'Astúries": "Principat d'Astúries", 'Castella - la Manxa': 'Castella - la Manxa'}

In [79]:
def translate_ca_es(word): return translator.translate(word,  src="ca", dest="es").text

In [80]:
t0 = time.time()
immigrationByPlaceOfOriginDF.info()
display(immigrationByPlaceOfOriginDF.describe())
list_of_PlaceOfOrigin = immigrationByPlaceOfOriginDF.placeOfOrigin.unique()
list_of_PlaceOfOrigin_translatedSpanish = { x : translate_ca_es(x) for x in list_of_PlaceOfOrigin}
list_of_PlaceOfOrigin_translatedEnglish = { x : translate_ca_en(x) for x in list_of_PlaceOfOrigin}
list_of_PlaceOfOrigin_translatedSpanish['Rioja, La'] = "La Rioja"
list_of_PlaceOfOrigin_translatedEnglish['Rioja, La'] = "La Rioja"
list_of_PlaceOfOrigin_translatedSpanish['Extranjero'] = 'Foreigner'

immigrationByPlaceOfOriginDF['placeOfOriginENG'] = immigrationByPlaceOfOriginDF['placeOfOrigin'].map(
                                                                                list_of_PlaceOfOrigin_translatedEnglish)
immigrationByPlaceOfOriginDF['placeOfOrigin'] = immigrationByPlaceOfOriginDF['placeOfOrigin'].map(
                                                                                list_of_PlaceOfOrigin_translatedSpanish)

print(immigrationByPlaceOfOriginDF['placeOfOriginENG'].unique())
print(immigrationByPlaceOfOriginDF['placeOfOrigin'].unique())
display(immigrationByPlaceOfOriginDF.head())
print("Time passed: ", time.time()-t0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              8820 non-null   int64
 1   districtCode      8820 non-null   int64
 2   districtName      8820 non-null   object
 3   neighborhoodCode  8820 non-null   int64
 4   neighborhoodName  8820 non-null   object
 5   placeOfOrigin     8820 non-null   object
 6   count             8820 non-null   int64
dtypes: int64(4), object(3)
memory usage: 482.5+ KB

              year  districtCode  neighborhoodCode        count
count  8820.000000   8820.000000       8820.000000  8820.000000
mean   2017.489796      6.877551         37.421769    64.003515
std       1.707891      8.115197         21.610283   232.840794
min    2015.000000      1.000000          1.000000     0.000000
25%    2016.000000      4.000000         19.000000     1.000000
50%    2017.000000      7.000000         37.000000     6.000000
75%    2019.000000      8.000000         56.000000    19.000000
max    2020.000000     99.000000         99.000000  4199.000000

['Andalusia' 'Aragon' 'Principality of Asturias' 'Balearic islands'
 'Canary Islands' 'Cantabria' 'Castile and Leon' 'Castilla-La Mancha'
 'Catalonia' 'Valencian Community' 'Extremadura' 'Galicia'
 'Community of Madrid' 'Region of Murcia' 'Foral Community of Navarre'
 'Basque Country' 'La Rioja' 'Ceuta' 'Melilla' 'Stranger']
['Andalucía' 'Aragó' 'Principado de Asturias' 'Islas Baleares' 'Canarias'
 'Cantabria' 'Castilla y León' 'Castilla-La Mancha' 'Cataluña'
 'Comunidad Valenciana' 'Extremadura' 'Galicia' 'Comunidad de Madrid'
 'Región de Murcia' 'Comunidad Foral de Navarra' 'País Vasco' 'La Rioja'
 'Ceuta' 'Melilla' 'Extranjero']

,year,districtCode,districtName,neighborhoodCode,neighborhoodName,placeOfOrigin,count,placeOfOriginENG
0,2015,1,Ciutat Vella,1,el Raval,Andalucía,125,Andalusia
1,2015,1,Ciutat Vella,2,el Barri Gòtic,Andalucía,46,Andalusia
2,2015,1,Ciutat Vella,3,la Barceloneta,Andalucía,45,Andalusia
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Andalucía,58,Andalusia
4,2015,2,Eixample,5,el Fort Pienc,Andalucía,56,Andalusia

Time passed:  3.0124549865722656

In [81]:
list_of_age = immigrationBy5YearAgeDF["5YearAge"].unique()
list_of_age_translated = { x : translate_ca_en(x) for x in list_of_age}
print(list_of_age_translated)

{'0-4 anys': '0-4 years', '5-9 anys': '5-9 years', '10-14 anys': '10-14 years', '15-19 anys': '15-19 years', '20-24 anys': '20-24 years', '25-29 anys': '25-29 years', '30-34 anys': '30-34 years', '35-39 anys': '35-39 years', '40-44 anys': '40-44 years', '45-49 anys': '45-49 years', '50-54 anys': '50-54 years', '55-59 anys': '55-59 years', '60-64 anys': '60-64 years', '65-69 anys': '65-69 years', '70-74 anys': '70-74 years', '75-79 anys': '75-79 years', '80-84 anys': '80-84 years', '85-89 anys': '85-89 years', '90-94 anys': '90-94 years', '95-99 anys': '95-99 years', '100 anys i més': '100 years and over', 'No consta': 'It is not clear'}

In [82]:
t0 = time.time()
immigrationBy5YearAgeDF.info()
display(immigrationBy5YearAgeDF.describe())

mapAge = {  '0-4 anys': '0-4',
            '5-9 anys': '5-9',
            '10-14 anys': '10-14',
            '15-19 anys': '15-19',
            '20-24 anys': '20-24',
            '25-29 anys': '25-29',
            '30-34 anys': '30-34',
            '35-39 anys': '35-39',
            '40-44 anys': '40-44',
            '45-49 anys': '45-49',
            '50-54 anys': '50-54',
            '55-59 anys': '55-59',
            '60-64 anys': '60-64',
            '65-69 anys': '65-69',
            '70-74 anys': '70-74',
            '75-79 anys': '75-79',
            '80-84 anys': '80-84',
            '85-89 anys': '85-89',
            '90-94 anys': '90-94',
            '95-99 anys': '95-99',
            '100 anys i més': '100+',
            'No consta': 'NaN'}

immigrationBy5YearAgeDF["5YearAge"] = immigrationBy5YearAgeDF["5YearAge"].map(mapAge)

print(immigrationBy5YearAgeDF["5YearAge"].unique())
display(immigrationBy5YearAgeDF.head())
print("Time passed: ", time.time()-t0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9334 entries, 0 to 9333
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              9334 non-null   int64
 1   districtCode      9334 non-null   int64
 2   districtName      9334 non-null   object
 3   neighborhoodCode  9334 non-null   int64
 4   neighborhoodName  9334 non-null   object
 5   5YearAge          9334 non-null   object
 6   count             9334 non-null   int64
dtypes: int64(4), object(3)
memory usage: 510.6+ KB

              year  districtCode  neighborhoodCode        count
count  9334.000000   9334.000000       9334.000000  9334.000000
mean   2017.493786      6.872616         37.418470    60.478787
std       1.701788      8.087327         21.606093   116.193854
min    2015.000000      1.000000          1.000000     0.000000
25%    2016.000000      4.000000         19.000000     4.000000
50%    2018.000000      7.000000         37.000000    21.000000
75%    2019.000000      8.000000         56.000000    65.000000
max    2020.000000     99.000000         99.000000  1526.000000

['0-4' '5-9' '10-14' '15-19' '20-24' '25-29' '30-34' '35-39' '40-44'
 '45-49' '50-54' '55-59' '60-64' '65-69' '70-74' '75-79' '80-84' '85-89'
 '90-94' '95-99' '100+' 'NaN']

,year,districtCode,districtName,neighborhoodCode,neighborhoodName,5YearAge,count
0,2015,1,Ciutat Vella,1,el Raval,0-4,165
1,2015,1,Ciutat Vella,2,el Barri Gòtic,0-4,49
2,2015,1,Ciutat Vella,3,la Barceloneta,0-4,36
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",0-4,64
4,2015,2,Eixample,5,el Fort Pienc,0-4,78

Time passed:  0.04390430450439453

In [83]:
t0 = time.time()
immigrationBySexDF.info()
display(immigrationBySexDF.describe())
dictionary_of_gender_map  = {'Homes': 'Male', 'Dones': 'Female', 'Home': 'Male', 'Dona': 'Female'}
immigrationBySexDF['sex'] = immigrationBySexDF['sex'].map(dictionary_of_gender_map)

print(immigrationBySexDF['sex'].unique())
display(immigrationBySexDF.head())
print("Time passed: ", time.time()-t0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              882 non-null    int64
 1   districtCode      882 non-null    int64
 2   districtName      882 non-null    object
 3   neighborhoodCode  882 non-null    int64
 4   neighborhoodName  882 non-null    object
 5   sex               882 non-null    object
 6   count             882 non-null    int64
dtypes: int64(4), object(3)
memory usage: 48.4+ KB

              year  districtCode  neighborhoodCode        count
count   882.000000    882.000000        882.000000   882.000000
mean   2017.489796      6.877551         37.421769   640.035147
std       1.708764      8.119341         21.621318   544.377642
min    2015.000000      1.000000          1.000000     1.000000
25%    2016.000000      4.000000         19.000000   253.250000
50%    2017.000000      7.000000         37.000000   507.000000
75%    2019.000000      8.000000         56.000000   874.000000
max    2020.000000     99.000000         99.000000  3536.000000

['Male' 'Female']

,year,districtCode,districtName,neighborhoodCode,neighborhoodName,sex,count
0,2015,1,Ciutat Vella,1,el Raval,Male,3219
1,2015,1,Ciutat Vella,2,el Barri Gòtic,Male,1164
2,2015,1,Ciutat Vella,3,la Barceloneta,Male,808
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,1302
4,2015,2,Eixample,5,el Fort Pienc,Male,999

Time passed:  0.030890464782714844

In [84]:
t0 = time.time()
emigrationByNationalityDF.info()
display(emigrationByNationalityDF.describe())
list2_of_nationality = emigrationByNationalityDF.nationality.unique()
list2_of_nationality_translated = { x : translate_ca_en(x) for x in list2_of_nationality}

# fixing errors in translation
list2_of_nationality_translated['Marroc, el'] = "Morocco"
list2_of_nationality_translated['Estats Units, els'] = "United States"
list2_of_nationality_translated["Iraq, l'"] = "Iraq"
list2_of_nationality_translated['Macedònia'] = "North Macedonia"
list2_of_nationality_translated['Iemen, el'] = "Yemen"
list2_of_nationality_translated['Sudan, el'] = "Sudan"
list2_of_nationality_translated['No consta'] = "NAN"
list2_of_nationality_translated['Territoris Palestins [o Palestina]'] = 'Palestinian Territories (or Palestine)'  
list2_of_nationality_translated['Palestina'] = 'Palestinian Territories (or Palestine)'

#map translations
emigrationByNationalityDF['nationality'] = emigrationByNationalityDF['nationality'].map(list2_of_nationality_translated)

print(len(list2_of_nationality))
print(len(emigrationByNationalityDF.nationality.unique()))
print(emigrationByNationalityDF.nationality.unique())
display(emigrationByNationalityDF.head())
print("Time passed: ", time.time()-t0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58722 entries, 0 to 58721
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              58722 non-null  int64
 1   districtCode      58722 non-null  int64
 2   districtName      58722 non-null  object
 3   neighborhoodCode  58722 non-null  int64
 4   neighborhoodName  58722 non-null  object
 5   nationality       58722 non-null  object
 6   count             58722 non-null  int64
dtypes: int64(4), object(3)
memory usage: 3.1+ MB

               year  districtCode  neighborhoodCode         count
count  58722.000000  58722.000000      58722.000000  58722.000000
mean    2017.506778      6.870491         37.417050      5.793502
std        1.694351      8.074944         21.603344     54.090470
min     2015.000000      1.000000          1.000000      0.000000
25%     2016.000000      4.000000         19.000000      0.000000
50%     2018.000000      7.000000         37.000000      0.000000
75%     2019.000000      8.000000         56.000000      1.000000
max     2020.000000     99.000000         99.000000   1569.000000

164
159
['Spain' 'Pakistan' 'China' 'Morocco' 'Italy' 'Dominican Republic'
 'Bolivia' 'India' 'Honduras' 'Colombia' 'Ecuador' 'Peru' 'Russia'
 'Brazil' 'Venezuela' 'France' 'Argentina' 'Romania' 'Paraguay' 'Ukraine'
 'Germany' 'Bangladesh' 'United Kingdom' 'Mexico' 'Georgia' 'Cuba' 'Chile'
 'Portugal' 'Philippines' 'United States' 'Senegal' 'Uruguay'
 'Netherlands' 'Algeria' 'Poland' 'Armenia' 'Nepal' 'Bulgaria' 'Nigeria'
 'El Salvador' 'Ghana' 'Belgium' 'Moldova' 'Nicaragua' 'Hungary' 'Swiss'
 'Japan' 'Sweden' 'Ireland' 'Canada' 'Andorra' 'Syria' 'Greece' 'Turkey'
 'Austria' 'Lithuania' 'Czech Republic' 'Iran' 'Guinea' 'South Korea'
 'Cameroon' 'Gambia' 'Belarus' 'Norway' 'Egypt' 'Finland'
 'Equatorial Guinea' 'Serbia' 'Slovakia' 'Panama' 'Denmark' 'Israel'
 'Lebanon' 'Costa Rica' 'Guatemala' 'Mali' 'Albania' 'South Africa'
 'Tunisia' 'Latvia' 'Afghanistan' 'Vietnam' 'Australia' 'Estonia'
 'Ivory Coast' 'Guinea-Bissau' 'Jordan' 'Kazakhstan' 'Kenya' 'Congo'
 'Croatia' 'Libya' 'Mauritania' 'Haiti' 'Indonesia' 'Iceland'
 'North Macedonia' 'Togo' 'Uzbekistan' 'New Zealand' 'Sierra Leone'
 'Tajikistan' 'Dominica' 'Iraq' 'Mongolia'
 'Palestinian Territories (or Palestine)' 'Azerbaijan' 'Burkina Faso'
 'Slovenia' 'Liberia' 'Somalia' 'Sudan' 'Thailand' 'Angola' 'Ethiopia'
 'Kyrgyzstan' 'Kuwait' 'Luxembourg' 'Madagascar' 'Malta' 'Mozambique'
 'Montenegro' 'Central African Republic' 'Rwanda' 'Sri Lanka' 'Cyprus'
 'Zambia' 'Zimbabwe' 'NAN' 'Bosnia and Herzegovina' 'Benin' 'Tanzania'
 'Saudi Arabia' 'Myanmar' 'Singapore' 'Mauritius' 'Niger' 'Jamaica'
 'Saint Kitts and Nevis' 'Gabon' 'Qatar' 'Uganda' 'Trinidad and Tobago'
 'Burundi' 'Cape Verde' 'Malaysia' 'Cambodia' 'Malawi' 'Botswana'
 'Eritrea' 'Seychelles' 'Turkmenistan' 'Chad' 'Yemen' 'Belize' 'Guyana'
 'Saint Vincent and the Grenadines' 'Lao' 'Oman']

,year,districtCode,districtName,neighborhoodCode,neighborhoodName,nationality,count
0,2015,1,Ciutat Vella,1,el Raval,Spain,1039
1,2015,1,Ciutat Vella,2,el Barri Gòtic,Spain,386
2,2015,1,Ciutat Vella,3,la Barceloneta,Spain,380
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Spain,613
4,2015,2,Eixample,5,el Fort Pienc,Spain,669

Time passed:  11.430843830108643

In [85]:
t0 = time.time()
emigrationByPlaceOfDestinationDF.info()
display(emigrationByPlaceOfDestinationDF.describe())
emigrationByPlaceOfDestinationDF['placeOfDestinationENG'] = emigrationByPlaceOfDestinationDF['placeOfDestination'].map(
                                                                                list_of_PlaceOfOrigin_translatedEnglish)
emigrationByPlaceOfDestinationDF['placeOfDestination'] = emigrationByPlaceOfDestinationDF['placeOfDestination'].map(
                                                                                list_of_PlaceOfOrigin_translatedSpanish)

print(emigrationByPlaceOfDestinationDF['placeOfDestinationENG'].unique())
print(emigrationByPlaceOfDestinationDF['placeOfDestination'].unique())
display(emigrationByPlaceOfDestinationDF.head())
print("Time passed: ", time.time()-t0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8894 entries, 0 to 8893
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                8894 non-null   int64
 1   districtCode        8894 non-null   int64
 2   districtName        8894 non-null   object
 3   neighborhoodCode    8894 non-null   int64
 4   neighborhoodName    8894 non-null   object
 5   placeOfDestination  8894 non-null   object
 6   count               8894 non-null   int64
dtypes: int64(4), object(3)
memory usage: 486.5+ KB

              year  districtCode  neighborhoodCode        count
count  8894.000000   8894.000000       8894.000000  8894.000000
mean   2017.469080      6.882730         37.425230    38.251181
std       1.715743      8.144309         21.614597   137.182914
min    2015.000000      1.000000          1.000000     0.000000
25%    2016.000000      4.000000         19.000000     1.000000
50%    2017.000000      7.000000         37.000000     5.000000
75%    2019.000000      8.000000         56.000000    17.000000
max    2020.000000     99.000000         99.000000  1686.000000

['Andalusia' 'Aragon' 'Principality of Asturias' 'Balearic islands'
 'Canary Islands' 'Cantabria' 'Castile and Leon' 'Castilla-La Mancha'
 'Catalonia' 'Valencian Community' 'Extremadura' 'Galicia'
 'Community of Madrid' 'Region of Murcia' 'Foral Community of Navarre'
 'Basque Country' 'La Rioja' 'Ceuta' 'Melilla' 'Stranger' nan]
['Andalucía' 'Aragó' 'Principado de Asturias' 'Islas Baleares' 'Canarias'
 'Cantabria' 'Castilla y León' 'Castilla-La Mancha' 'Cataluña'
 'Comunidad Valenciana' 'Extremadura' 'Galicia' 'Comunidad de Madrid'
 'Región de Murcia' 'Comunidad Foral de Navarra' 'País Vasco' 'La Rioja'
 'Ceuta' 'Melilla' 'Extranjero' nan]

,year,districtCode,districtName,neighborhoodCode,neighborhoodName,placeOfDestination,count,placeOfDestinationENG
0,2015,1,Ciutat Vella,1,el Raval,Andalucía,83,Andalusia
1,2015,1,Ciutat Vella,2,el Barri Gòtic,Andalucía,27,Andalusia
2,2015,1,Ciutat Vella,3,la Barceloneta,Andalucía,19,Andalusia
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Andalucía,47,Andalusia
4,2015,2,Eixample,5,el Fort Pienc,Andalucía,33,Andalusia

Time passed:  0.0448918342590332

In [87]:
t0 = time.time()
emigrationBy5YearAgeDF.info()
display(emigrationBy5YearAgeDF.describe())

emigrationBy5YearAgeDF['5YearAge'] = emigrationBy5YearAgeDF['5YearAge'].map(mapAge)

print(emigrationBy5YearAgeDF['5YearAge'].unique())
display(emigrationBy5YearAgeDF.head())
print("Time passed: ", time.time()-t0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9261 entries, 0 to 9260
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              9261 non-null   int64
 1   districtCode      9261 non-null   int64
 2   districtName      9261 non-null   object
 3   neighborhoodCode  9261 non-null   int64
 4   neighborhoodName  9261 non-null   object
 5   5YearAge          9261 non-null   object
 6   count             9261 non-null   int64
dtypes: int64(4), object(3)
memory usage: 506.6+ KB

              year  districtCode  neighborhoodCode        count
count  9261.000000   9261.000000       9261.000000  9261.000000
mean   2017.489796      6.877551         37.421769    36.735342
std       1.707887      8.115175         21.610224    49.773125
min    2015.000000      1.000000          1.000000     0.000000
25%    2016.000000      4.000000         19.000000     6.000000
50%    2017.000000      7.000000         37.000000    19.000000
75%    2019.000000      8.000000         56.000000    47.000000
max    2020.000000     99.000000         99.000000   451.000000

['0-4' '5-9' '10-14' '15-19' '20-24' '25-29' '30-34' '35-39' '40-44'
 '45-49' '50-54' '55-59' '60-64' '65-69' '70-74' '75-79' '80-84' '85-89'
 '90-94' '95-99' '100+']

,year,districtCode,districtName,neighborhoodCode,neighborhoodName,5YearAge,count
0,2015,1,Ciutat Vella,1,el Raval,0-4,112
1,2015,1,Ciutat Vella,2,el Barri Gòtic,0-4,28
2,2015,1,Ciutat Vella,3,la Barceloneta,0-4,21
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",0-4,35
4,2015,2,Eixample,5,el Fort Pienc,0-4,62

Time passed:  0.030889272689819336

In [88]:
t0 = time.time()
emigrationBySexDF.info()
display(emigrationBySexDF.describe())
emigrationBySexDF['sex'] = emigrationBySexDF['sex'].map(dictionary_of_gender_map)
print(emigrationBySexDF['sex'].unique())
display(emigrationBySexDF.head())
print("Time passed: ", time.time()-t0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              882 non-null    int64
 1   districtCode      882 non-null    int64
 2   districtName      882 non-null    object
 3   neighborhoodCode  882 non-null    int64
 4   neighborhoodName  882 non-null    object
 5   sex               882 non-null    object
 6   count             882 non-null    int64
dtypes: int64(4), object(3)
memory usage: 48.4+ KB

              year  districtCode  neighborhoodCode        count
count   882.000000    882.000000        882.000000   882.000000
mean   2017.489796      6.877551         37.421769   385.721088
std       1.708764      8.119341         21.621318   273.133981
min    2015.000000      1.000000          1.000000     0.000000
25%    2016.000000      4.000000         19.000000   188.000000
50%    2017.000000      7.000000         37.000000   347.000000
75%    2019.000000      8.000000         56.000000   539.000000
max    2020.000000     99.000000         99.000000  1541.000000

['Male' 'Female']

,year,districtCode,districtName,neighborhoodCode,neighborhoodName,sex,count
0,2015,1,Ciutat Vella,1,el Raval,Male,1541
1,2015,1,Ciutat Vella,2,el Barri Gòtic,Male,435
2,2015,1,Ciutat Vella,3,la Barceloneta,Male,326
3,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,564
4,2015,2,Eixample,5,el Fort Pienc,Male,519

Time passed:  0.02889537811279297

In [89]:
immigrationBySexDF.districtName.value_counts()

Nou Barris             156
Horta-Guinardó         132
Sant Martí             120
Sants-Montjuïc          96
Sant Andreu             84
Eixample                72
Sarrià-Sant Gervasi     72
Gràcia                  60
Ciutat Vella            48
Les Corts               36
No consta                6
Name: districtName, dtype: int64

In [90]:
emigrationBySexDF.districtName.value_counts()

Nou Barris             156
Horta-Guinardó         132
Sant Martí             120
Sants-Montjuïc          96
Sant Andreu             84
Eixample                72
Sarrià-Sant Gervasi     72
Gràcia                  60
Ciutat Vella            48
Les Corts               36
No consta                6
Name: districtName, dtype: int64

In [91]:
# drop nulls, 
# No consta' means 'not included or provided' in Spanish
immigrationBySexDF = immigrationBySexDF.set_index('districtName').drop('No consta').reset_index()
emigrationBySexDF = emigrationBySexDF.set_index('districtName').drop('No consta').reset_index()

In [92]:
emigrationBySexDF.districtName.value_counts()

Nou Barris             156
Horta-Guinardó         132
Sant Martí             120
Sants-Montjuïc          96
Sant Andreu             84
Eixample                72
Sarrià-Sant Gervasi     72
Gràcia                  60
Ciutat Vella            48
Les Corts               36
Name: districtName, dtype: int64

In [93]:
immigrationBy5YearAgeDF['5YearAge'].value_counts()

40-44    441
90-94    441
50-54    441
80-84    441
15-19    441
60-64    441
70-74    441
75-79    441
35-39    441
25-29    441
65-69    441
95-99    441
30-34    441
45-49    441
5-9      441
10-14    441
100+     441
20-24    441
85-89    441
0-4      441
55-59    441
NaN       73
Name: 5YearAge, dtype: int64

In [94]:
immigrationBy5YearAgeDF[immigrationBy5YearAgeDF['5YearAge'] == 'NaN']

,year,districtCode,districtName,neighborhoodCode,neighborhoodName,5YearAge,count
6195,2018,1,Ciutat Vella,1,el Raval,NaN,0
6196,2018,1,Ciutat Vella,2,el Barri Gòtic,NaN,0
6197,2018,1,Ciutat Vella,3,la Barceloneta,NaN,0
6198,2018,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",NaN,0
6199,2018,2,Eixample,5,el Fort Pienc,NaN,0
...,...,...,...,...,...,...,...
6263,2018,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,NaN,0
6264,2018,10,Sant Martí,70,el Besòs i el Maresme,NaN,0
6265,2018,10,Sant Martí,71,Provençals del Poblenou,NaN,0
6266,2018,10,Sant Martí,72,Sant Martí de Provençals,NaN,0
6267,2018,10,Sant Martí,73,la Verneda i la Pau,NaN,0

In [95]:
immigrationBy5YearAgeDF[immigrationBy5YearAgeDF['5YearAge'] == 'NaN']['count'].sum()

1

In [96]:
immigrationBy5YearAgeDF.neighborhoodName.value_counts()

la Clota                         127
Pedralbes                        127
Provençals del Poblenou          127
Can Peguera                      127
la Sagrera                       127
                                ...
Porta                            127
Vilapicina i la Torre Llobeta    127
la Trinitat Nova                 127
la Barceloneta                   127
No consta                         63
Name: neighborhoodName, Length: 74, dtype: int64

In [97]:
emigrationBy5YearAgeDF['5YearAge'].value_counts()

40-44    441
65-69    441
50-54    441
80-84    441
15-19    441
60-64    441
70-74    441
75-79    441
35-39    441
25-29    441
95-99    441
90-94    441
30-34    441
45-49    441
5-9      441
10-14    441
100+     441
20-24    441
85-89    441
0-4      441
55-59    441
Name: 5YearAge, dtype: int64

In [98]:
# Drop nulls
immigrationBy5YearAgeDF = immigrationBy5YearAgeDF.set_index('5YearAge').drop('NaN').reset_index()
immigrationBy5YearAgeDF = immigrationBy5YearAgeDF.set_index('districtName').drop('No consta').reset_index()
emigrationBy5YearAgeDF = emigrationBy5YearAgeDF.set_index('districtName').drop('No consta').reset_index()

In [101]:
sum(emigrationBy5YearAgeDF.neighborhoodName == 'No consta')

0

In [102]:
immigrationByNationalityDF.neighborhoodName.value_counts()

Pedralbes                                963
el Baix Guinardó                         963
la Prosperitat                           963
Vallvidrera, el Tibidabo i les Planes    963
Can Baró                                 963
                                        ...
el Raval                                 963
el Barri Gòtic                           963
la Salut                                 963
la Vila Olímpica del Poblenou            963
No consta                                476
Name: neighborhoodName, Length: 74, dtype: int64

In [ ]:
immigrationByNationalityDF[immigrationByNationalityDF.neighborhoodName == 'No consta']['count'].sum()

In [113]:
emigrationByNationalityDF.neighborhoodName.value_counts()

Pedralbes                                799
el Baix Guinardó                         799
la Prosperitat                           799
Vallvidrera, el Tibidabo i les Planes    799
Can Baró                                 799
                                        ...
el Raval                                 799
el Barri Gòtic                           799
la Salut                                 799
la Vila Olímpica del Poblenou            799
No consta                                395
Name: neighborhoodName, Length: 74, dtype: int64

In [114]:
emigrationByNationalityDF[emigrationByNationalityDF.neighborhoodName == 'No consta']['count'].sum()

13

In [111]:
immigrationByNationalityDF = immigrationByNationalityDF.set_index('neighborhoodName').drop('No consta').reset_index()
emigrationByNationalityDF = emigrationByNationalityDF.set_index('neighborhoodName').drop('No consta').reset_index()

In [112]:
immigrationByNationalityDF.districtName.value_counts()

Nou Barris             12519
Horta-Guinardó         10593
Sant Martí              9630
Sants-Montjuïc          7704
Sant Andreu             6741
Sarrià-Sant Gervasi     5778
Eixample                5778
Gràcia                  4815
Ciutat Vella            3852
Les Corts               2889
Name: districtName, dtype: int64

In [117]:
emigrationByNationalityDF.districtName.value_counts()

Nou Barris             10387
Horta-Guinardó          8789
Sant Martí              7990
Sants-Montjuïc          6392
Sant Andreu             5593
Sarrià-Sant Gervasi     4794
Eixample                4794
Gràcia                  3995
Ciutat Vella            3196
Les Corts               2397
Name: districtName, dtype: int64

In [110]:
immigrationByNationalityDF[immigrationByNationalityDF.nationality ==  'NAN']

,year,districtCode,districtName,neighborhoodCode,neighborhoodName,nationality,count
11322,2015,1,Ciutat Vella,1,el Raval,NAN,2
11323,2015,1,Ciutat Vella,2,el Barri Gòtic,NAN,1
11324,2015,1,Ciutat Vella,3,la Barceloneta,NAN,1
11325,2015,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",NAN,1
11326,2015,2,Eixample,5,el Fort Pienc,NAN,4
...,...,...,...,...,...,...,...
70770,2020,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,NAN,0
70771,2020,10,Sant Martí,70,el Besòs i el Maresme,NAN,0
70772,2020,10,Sant Martí,71,Provençals del Poblenou,NAN,4
70773,2020,10,Sant Martí,72,Sant Martí de Provençals,NAN,1
70774,2020,10,Sant Martí,73,la Verneda i la Pau,NAN,1

In [119]:
immigrationByPlaceOfOriginDF.neighborhoodName.value_counts()

la Clota                         120
Pedralbes                        120
Provençals del Poblenou          120
Can Peguera                      120
la Sagrera                       120
                                ...
Porta                            120
Vilapicina i la Torre Llobeta    120
la Trinitat Nova                 120
la Barceloneta                   120
No consta                         60
Name: neighborhoodName, Length: 74, dtype: int64

In [121]:
immigrationByPlaceOfOriginDF[immigrationByPlaceOfOriginDF.neighborhoodName == 'No consta']['count'].sum()

17

In [123]:
emigrationByPlaceOfDestinationDF.neighborhoodName.value_counts()

la Clota                         121
Pedralbes                        121
Provençals del Poblenou          121
Can Peguera                      121
la Sagrera                       121
                                ...
Porta                            121
Vilapicina i la Torre Llobeta    121
la Trinitat Nova                 121
la Barceloneta                   121
No consta                         61
Name: neighborhoodName, Length: 74, dtype: int64

In [122]:
emigrationByPlaceOfDestinationDF[emigrationByPlaceOfDestinationDF.neighborhoodName == 'No consta']['count'].sum()

13

In [124]:
immigrationByPlaceOfOriginDF = immigrationByPlaceOfOriginDF.set_index('neighborhoodName').drop('No consta').reset_index()
emigrationByPlaceOfDestinationDF = emigrationByPlaceOfDestinationDF.set_index('neighborhoodName').drop('No consta').reset_index()

In [126]:
emigrationByPlaceOfDestinationDF.districtName.value_counts()

Nou Barris             1573
Horta-Guinardó         1331
Sant Martí             1210
Sants-Montjuïc          968
Sant Andreu             847
Sarrià-Sant Gervasi     726
Eixample                726
Gràcia                  605
Ciutat Vella            484
Les Corts               363
Name: districtName, dtype: int64

In [127]:
immigrationByPlaceOfOriginDF.districtName.value_counts()

Nou Barris             1560
Horta-Guinardó         1320
Sant Martí             1200
Sants-Montjuïc          960
Sant Andreu             840
Sarrià-Sant Gervasi     720
Eixample                720
Gràcia                  600
Ciutat Vella            480
Les Corts               360
Name: districtName, dtype: int64

In [128]:
#Save as csv files
immigrationBy5YearAgeDF.to_csv('immigrationBy5YearAgeDFBarcelona.csv')
immigrationByNationalityDF.to_csv('immigrationByNationalityDFBarcelona.csv')
immigrationByPlaceOfOriginDF.to_csv('immigrationByPlaceOfOriginDFBarcelona.csv')
immigrationBySexDF.to_csv('immigrationBySexDFBarcelona.csv')
emigrationBy5YearAgeDF.to_csv('emigrationBy5YearAgeDFBarcelona.csv')
emigrationByNationalityDF.to_csv('emigrationByNationalityDFBarcelona.csv')
emigrationByPlaceOfDestinationDF.to_csv('emigrationByPlaceOfDestinationDFBarcelona.csv')
emigrationBySexDF.to_csv('emigrationBySexDFBarcelona.csv')

In [1]:
import pandas as pd

imAge = pd.read_csv('immigrationBy5YearAgeDFBarcelona.csv')
imAge

,Unnamed: 0,districtName,5YearAge,year,districtCode,neighborhoodCode,neighborhoodName,count
0,0,Ciutat Vella,0-4,2015,1,1,el Raval,165
1,1,Ciutat Vella,0-4,2015,1,2,el Barri Gòtic,49
2,2,Ciutat Vella,0-4,2015,1,3,la Barceloneta,36
3,3,Ciutat Vella,0-4,2015,1,4,"Sant Pere, Santa Caterina i la Ribera",64
4,4,Eixample,0-4,2015,2,5,el Fort Pienc,78
...,...,...,...,...,...,...,...,...
9193,9193,Sant Martí,100+,2020,10,69,Diagonal Mar i el Front Marítim del Poblenou,0
9194,9194,Sant Martí,100+,2020,10,70,el Besòs i el Maresme,0
9195,9195,Sant Martí,100+,2020,10,71,Provençals del Poblenou,0
9196,9196,Sant Martí,100+,2020,10,72,Sant Martí de Provençals,0
9197,9197,Sant Martí,100+,2020,10,73,la Verneda i la Pau,0

In [6]:
imAge.groupby(['districtName'])['count'].sum().to_frame().reset_index().to_csv('imDistrict_count.csv', )

In [7]:
pd.read_csv('imDistrict_count.csv')

   Unnamed: 0         districtName   count
0           0         Ciutat Vella   74789
1           1             Eixample  109556
2           2               Gràcia   40951
3           3       Horta-Guinardó   45567
4           4            Les Corts   25058
5           5           Nou Barris   48224
6           6          Sant Andreu   36839
7           7           Sant Martí   72328
8           8       Sants-Montjuïc   70308
9           9  Sarrià-Sant Gervasi   40871

In [ ]:
imAge.groupby(['neighborhoodName'])['count'].sum().to_frame().reset_index().to_csv('imDistrict_count.csv', )